<h1>Ofrecer Ayuda</h1>

<%= form_with(model: @help, local: true) do |form| %>
  <% if @help.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@help.errors.count, "error") %> prohibited this help from being saved:</h2>
      <ul>
        <% @help.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :need_id, "Selecciona la Necesidad a la que ayudarás" %>
  <%= form.collection_select :need_id, Need.all, :id, :description %>
  </div>

  <div class="actions">
    <%= form.submit "Ofrecer Ayuda" %>
  </div>
<% end %>

<%= link_to "Volver a la lista de ayudas", helps_path %>
